### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
Ans) select * from worker where year(JOINING_DATE)= 2014 and month(JOINING_DATE)=2;

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.
Ans) select FIRST_NAME , SALARY,COUNT(\*) from Worker group by FIRST_NAME, SALARY having count(\*)>1;

### Q-3. How to remove duplicate rows from Employees table.
Ans) 
WITH CTE(worker_id,     first_name, 
    last_name, 
    department,
    DuplicateCount) 
    
AS (SELECT worker_id, 
    first_name, 
    last_name, 
    department,
    ROW_NUMBER() OVER(PARTITION BY worker_id,first_name, last_name,department,salary ORDER BY worker_id) AS DuplicateCount
    FROM worker)
    
delete  FROM worker where worker_id in (select worker_id from cte where  DuplicateCount > 1);