### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
Ans) SELECT ename,salary from Employee e1 where 4 = (SELECT COUNT(DISTINCT salary)from Employee e2 where e2.salary > e1.salary);

### Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans) SELECT W1.* FROM WORKER W1,WORKER W2
WHERE W1.SALARY=W2.SALARY
AND W1.WORKER_ID!=W2.WORKER_ID;