### Q-17.  Write an SQL query to show the top n (say 10) records of a table.
Ans)
SELECT * FROM WORKER ORDER BY SALARY DESC LIMIT 10;


### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Ans) 
SELECT salary from worker e1 where 5-1 = (SELECT COUNT(DISTINCT salary)from worker e2 where e2.salary > e1.salary);