### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
Ans) SELECT substr(FIRST_NAME,1,3) FROM worker;

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
Ans) select instr(first_name,BINARY’a’) from Worker where first_name =‘Amitabh’ ;

### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.
Ans) select name, salary from employee where (department,salary ) in (select department, max(salary) from employee Group by department);